body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}
header {
    width: 100%;
    background-color:beige;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin: 0;
    font-size: 24px;
}

.editor-container {
    width: 90%;
    max-width: 800px;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    flex-grow: 1;
}
#toolbar {
    margin-bottom: 10px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    background: burlywood;
}
.save-options {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 10px; */
    /* position: relative; */
    margin-bottom: 50px;
}
.save-options button{
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.save-options button:hover{
    background-color: #1B3DBE;
}
footer {
    width: 100%;
    background-color:beige;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}